$gradient2: #454545;
$accentcolor: #da0000;
@font-face {
  font-family: "Agency FB";
  src: local("Agency FB"), url("../assets/Agency_FB.ttf");
}
@font-face {
  font-family: "Agency FBL";
  src: local("Agency FBL"), url("../assets/agencyfb-light.ttf");
}
@font-face {
  font-family: "Agency FBLL";
  src: local("Agency FBLL"), url("../assets/AgencyFBLight.ttf");
}
* {
  font-family: "Agency FBL";
}
body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0px;
  background: black;
}
img.bg-img {
  width: 975px;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  margin-left: -78px;
  filter: contrast(1) brightness(0.7);
}
.hero--header {
  height: 100vh;
  float: right;
  z-index: 2;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, black 49%, $gradient2 154%);
  width: 55%;
}
.blend {
  height: 100vh;
  width: 50%;
  position: absolute;
  background: linear-gradient(90deg, #00000036 19%, #000000e6 87%),
    linear-gradient(349deg, black, transparent 34%),
    linear-gradient(191deg, black -23%, transparent);
}
.name {
  color: white;
  z-index: 30;
  font-family: "Agency FBL";
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 2px;
}
.arrange {
  margin-left: 186px;
  color: white;
  display: inline-block;
}
.intro {
  color: white;
  font-size: 16px;
  font-family: "Agency FBL";
  margin-bottom: 3px;
  letter-spacing: 1.3px;
  font-weight: 300;
}
h5.my--desc {
  width: 341px;
  font-size: 18px;
  letter-spacing: 1.2px;
  margin-top: 18px;
  line-height: 25px;
  font-family: "Agency FBL";
  font-weight: 300;
}
.CTAS {
  display: flex;
  column-gap: 20px;
}
.threedots {
  right: 30px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  row-gap: 10px;
  position: fixed;
}
.indicator {
  height: 13px;
  background-color: rgb(160, 160, 160);
  width: 13px;
  border-radius: 20px;
  cursor: pointer;
}
.one {
  background-color: $accentcolor;
}
// .name::after {
//   content: "";
//   position: absolute;
//   width: 6.5px;
//   margin-top: 18.5px;
//   margin-left: -57.2px;
//   height: 8px;
//   background: $accentcolor;
// }

.letteri {
  position: relative;
}

span.letteri::before {
  right: 0px;
  content: "";
  position: absolute;
  width: 6.5px;
  height: 8px;
  background: #da0000;
  top: 14.4px;
  z-index: 3;
}

.aboutme {
  display: flex;
  color: white;
  padding-top: 55px;
  justify-content: center;
  column-gap: 101px;
  width: 100%;
  max-height: 742px;
  padding-bottom: 50px;
  background: linear-gradient(85deg, black 72%, #454545 129%);
}

.aboutme--left {
  transition: all 500ms ease-in;
  display: grid;
  opacity: 0;
  max-width: 411px;
  transform: translateX(-492px);
  grid-template-rows: 43%;
}

.slide {
  transform: translateX(0px);
  opacity: 1;
}
.aboutmedesc {
  margin-top: -20px;
  font-size: 18px;
  letter-spacing: 1.13px;
  line-height: 24px;
  font-family: "Agency FBLL";
  font-weight: 100;
}
.aboutmetext {
  display: flex;
  font-size: 57px;
  align-items: flex-end;
}
.divider-div {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.divider {
  width: 9px;
  background: #ec0000;
  height: 126px;
  border-radius: 41px;
}
.aboutme--right {
  width: 377px;
  padding-left: 43px;
  padding-top: 28px;
  margin-left: 19px;
  background: white;
  border-radius: 4px;
  height: 446px;
  color: black;
}

.tldr {
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 0.7px;
}
.projects {
  padding-left: 40px;
  background: linear-gradient(85deg, black 72%, #454545 138%);
  color: white;
  overflow: hidden;
}

.projectdescr {
  width: 494px;
  margin-left: -254px;
  padding-top: 130px;
  position: relative;
}
.project1 {
  width: auto;
  display: flex;
}

.bothprojects {
  display: flex;
  column-gap: 600px;
  transition: all 1s ease-in-out;
  // column-gap: 450px;
  // transform: translateX(-145vw);
}

.project2 h3 {
  letter-spacing: 0.7px;
}

.divider2 {
  height: 10px;
  background: $accentcolor;
  width: 146px;
  border-radius: 30px;
}

@mixin arrowStyles {
  position: absolute;
  right: 62px;
  cursor: pointer;
  width: 24px;
  top: 300px;
  transition: transform 300ms linear;
}

img.nextarrow {
  @include arrowStyles;
  transform: rotate(90deg);

  &:hover {
    transform: rotate(90deg) scale(1.1);
  }
}

img.backarrow {
  @include arrowStyles;
  transform: rotate(270deg);

  &:hover {
    transform: rotate(270deg) scale(1.1);
  }
}

section.project2 {
  width: auto;
  display: flex;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.171);
  z-index: 500;
  top: 0px;
  display: block;
}

.project1image,
.project2image {
  display: none;
}

@media (max-width: 1500px) {
  .bothprojects {
    column-gap: 450px;
  }
}

@media (max-width: 1460px) {
  img.nextarrow {
    right: 254px;
    cursor: pointer;
    width: 24px;
    top: 422px;
  }

  img.backarrow {
    right: 254px;
    cursor: pointer;
    width: 24px;
    top: 422px;
  }
}

@media (max-width: 1400px) {
  .nextarrow,
  .backarrow,
  .indicator {
    display: none;
  }

  .project1 {
    flex-wrap: wrap;
    column-gap: 98px;
    align-items: center;
    margin-top: 40px;
  }

  .projectdescr {
    padding-top: 0px;
    margin-left: 0px;
    width: 400px;
  }

  iframe {
    display: none;
  }

  .projects {
    padding-left: 16%;
    background: linear-gradient(85deg, black 71%, #454545 141%);
    color: white;
    overflow: hidden;
  }

  .project1image,
  .project2image {
    display: block;
    width: 33vw;
  }

  .bothprojects {
    display: block !important;
  }

  .project2 {
    display: flex !important;
    flex-flow: row-reverse;
    justify-content: flex-end;
    margin-top: 40px;
    align-items: center;
  }
}

@media (max-width: 1384px) {
  .project1image,
  .project2image {
    width: 33vw;
  }
}

@media (max-width: 1250px) {
  .blend {
    display: none;
  }

  .hero--header {
    width: 100%;
    height: 79vh;
    justify-content: normal;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, black 49%, #454545 154%);
    justify-content: center;
  }

  .arrange {
    margin-left: 0px;
  }

  .aboutme {
    background: linear-gradient(90deg, black 49%, #454545 154%);
  }

  .divider-div {
    display: none;
  }

  .projects {
    background: linear-gradient(85deg, black 52%, #454545 150%);
  }
}

@media (max-width: 1130px) {
  .aboutme--left {
    display: none;
  }
}

@media (max-width: 1000px) {
  .projects {
    padding-left: 0px;
  }
  .project1image,
  .project2image {
    display: none;
  }

  .bothprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project1,
  .project2 {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    column-gap: 0px;
  }

  .divider2 {
    display: none;
  }

  .languagesused {
    color: #c7c7c7;
  }

  .projectdesc {
    width: auto !important;
  }
}

@media (max-width: 600px) {
  .name {
    font-size: 65px;
  }

  .name::after {
    margin-top: 17.5px;
    margin-left: -53px;
  }

  .aboutme--right {
    margin-left: 0px;
    padding-right: 20px;
    width: 75%;
    max-width: 351px;
  }
}
