// @import url(https://allfont.net/allfont.css?fonts=agency-fb);
// @import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);

ul {
  color: white;
  position: absolute;
  right: 247px;
  top: 27px;
  z-index: 4;
}

* {
  font-family: "Agency FB";
}

#nav {
  li {
    display: inline;
    margin-right: 87px;
    font-size: 17px;
    cursor: pointer;
    font-family: "Agency FB";
  }

  // li::before {
  //   content: "";
  //   position: absolute;
  //   top: -10px;
  //   height: 3px;
  //   background: #da0000;
  //   width: 23px;
  // }
}

.social-logo {
  width: 30px;
  margin-top: 10px;
}

.social-logo-section {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.red {
  display: inline;
  height: 3px;
  background: #da0000;
  width: 23px;
  position: absolute;
  top: -10px;
  transition: all 400ms ease-in;
}

@media (max-width: 1250px) {
  .navbar {
    color: white;
    position: absolute;
    width: 100vw;
    top: 27px;
    right: 0px;
    display: flex;
    z-index: 4;
    justify-content: center;
  }

  #nav li {
    margin-right: 62px;
  }
}
